@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* font-family: 'Space Mono', monospace; */
*{
    font-family: 'Space Mono', monospace;
}

body{
    margin: 0px;
    padding-top: 0px;
}
/* Header */
header{
    width: 100%;
    height: 100px;
    background-color: lightblue;
    position:absolute;
    top: 0;
    box-shadow: 0px 4px 1px rgb(27, 112, 216);
}
.appName{
    font-size: 45px;
    text-align: center;
}

#header-info{
    margin: 80px;
    margin-bottom: 10px;
}

/* Body */
.container-fluid{
    width: 60%;
    background-image: linear-gradient(180deg, rgb(12, 12, 12), rgb(107, 107, 107));
    height: auto;
    margin: auto;
    margin-top: 105px;
    padding-top: 20px;
    padding-bottom: 50px;
    

}
.container-fluid > h2{
    text-align: center;
}
.container-fluid > hr{
    width: 25%;
    border: 1px solid rgb(41, 103, 216);
}



.results{
    width: 90%;
    height: auto;
    background-color: lightblue;
    margin: auto;
    display: flex;
    flex-direction: row;
    
}
.rocketImg{
    width: 25%;
    height: auto;
    /* border: 1px solid rgba(49, 51, 51, 0.596); */
    border-radius: 3px;
    overflow: hidden;

    
}
.rocketImg > img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
}
    

.rocketDetails1{
    width: 100%;
    height: 100%;
    display: block;
    
}
.rocketDetails1 > p{
    font-size: 13px;
    margin-bottom: 0px;
}
table{
    table-layout: fixed;
}



th, td, tr{
    padding: 10px;
    border-right: 1px solid rgba(44, 44, 44, 0.37);
    width: 155px;
    text-align: center;
    font-size: 13px;
}
th{
    font-size: 18px;
}
td{
    padding-top: 0px;
}
tr{
    padding-bottom: 0px;
}



/* @media screen and (max-width: 600px) {
    #container{
        width: 100%;
    }
} */